
    <mdb-carousel [controls]="true">

        <mdb-carousel-item  *ngFor="let slide of tes1">
          
            
          <img
           width="1600"
           height="707"
            class="d-block w-100"
            alt="{{slide.title}}"
           src="{{slide.image}}"
          />
        
          
         
         
        </mdb-carousel-item>
   
      </mdb-carousel>
      
      <!-- <mdb-carousel [controls]="true">
        <mdb-carousel-item>
          <img
            src="http://127.0.0.1:8000/storage/slides\October2022\eCRImaurpTqSqmOD1MBp.png"
            class="d-block w-100"
            alt="..."
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
            class="d-block w-100"
            alt="..."
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
            class="d-block w-100"
            alt="..."
          />
        </mdb-carousel-item>
      </mdb-carousel> -->

