<div class="row">
    <div class="col-md-4" *ngFor="let service of services1">
       <div class="card">
    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
      <img src="{{service.Image}}" class="img-fluid"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      
      <h5 class="card-title">{{service.title}}</h5>
      <p class="card-text">{{service.extrait}}</p>
      <a [routerLink]="['/services',service.slug]" class="btn btn-primary">Button</a>
    </div>
  </div> 
    </div>
</div>


