<div class="row">
    <div class="col-md-6 mb-2" *ngFor="let post of posts1">
       <div class="card">
    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
      <img src="{{post.image}}" class="img-fluid"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.extrait}}</p>
      <a [routerLink]="['/blog',post.slug]" class="btn btn-primary">Button</a>
    </div>
  </div> 
    </div>
</div>


